In [72]:
import pandas as pd
#read the file
df = pd.read_csv('outputs/key_log.txt', sep=" ", encoding='latin-1')

In [73]:
#convert https://exceptionshub.com/python-convert-unix-epoch-time-to-datetime-in-pandas.html
from datetime import datetime, timedelta
start = datetime(1970, 1, 1)  # Unix epoch start time
df.time = df.time.apply(lambda x: start + timedelta(seconds=x))

In [74]:
df.time

0       2020-08-26 21:59:50.443632
1       2020-08-26 21:59:50.511299
2       2020-08-26 21:59:50.520729
3       2020-08-26 21:59:50.828374
4       2020-08-26 21:59:51.118113
                   ...
27220   2020-08-29 18:34:18.578675
27221   2020-08-29 18:34:18.678950
27222   2020-08-29 18:34:21.898652
27223   2020-08-29 18:34:22.088505
27224   2020-08-29 18:34:22.459381
Name: time, Length: 27225, dtype: datetime64[ns]

In [75]:
df['CPM'] = 60/(df['delta']/1000)
df['WPM'] = df['CPM']/5
df

,time,delta,key,application,CPM,WPM
0,2020-08-26 21:59:50.443632,811,'h',NaN,73.982737,14.796547
1,2020-08-26 21:59:50.511299,67,'o',NaN,895.522388,179.104478
2,2020-08-26 21:59:50.520729,9,'w',NaN,6666.666667,1333.333333
3,2020-08-26 21:59:50.828374,307,Key.space,NaN,195.439739,39.087948
4,2020-08-26 21:59:51.118113,289,'n',NaN,207.612457,41.522491
...,...,...,...,...,...,...
27220,2020-08-29 18:34:18.578675,919,Key.alt_l,PBIDesktop.exe,65.288357,13.057671
27221,2020-08-29 18:34:18.678950,100,Key.tab,PBIDesktop.exe,600.000000,120.000000
27222,2020-08-29 18:34:21.898652,3219,Key.shift,firefox.exe,18.639329,3.727866
27223,2020-08-29 18:34:22.088505,189,Key.enter,firefox.exe,317.460317,63.492063
27224,2020-08-29 18:34:22.459381,370,Key.enter,firefox.exe,162.162162,32.432432

In [61]:
#remove 0 for delta and anything with a pause longer than 2 secs
df = df.query('delta != 0 & delta < 2000')

In [62]:
df.WPM.median()

70.58823529411765

In [64]:
df.delta.median()

170.0

In [65]:
df.median()

<ipython-input-65-6d467abf240d>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.median()

delta    170.000000
CPM      352.941176
WPM       70.588235
dtype: float64

In [77]:
df.groupby([df.time.dt.date]).median().WPM.astype(int)

time
2020-08-26    70
2020-08-27    63
2020-08-28    71
2020-08-29    75
Name: WPM, dtype: int32